
@model Country


<div class="row">
    <div class="col-12">
    <div>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input class="form-control" asp-for="Name" aria-describedby="nameHelp">
                <div id="name" class="form-text">Please enter the name</div>
            </div>
            <div class="mb-3">
                <label asp-for="Code" class="form-label">Code</label>
                <input class="form-control" asp-for="Code" aria-describedby="codeHelp">
                <div id="code" class="form-text">Please enter the code</div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>